* { font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

:root {
    --factor: 1;
}

h2 { 
    font-weight: 800;
    font-style: extrabold;
    font-size: 36px;
}      

.myselectItem {
    padding: 5px 15px 5px 10px;
    display: flex;
    border-bottom: solid 1px #ffffff;
    background-color: #ffffff88;
    margin-bottom: 5px;
    /*margin-left: 20px;*/
}

.mysName {
    width: calc(100% - 3rem);
    padding: 0px;
    padding-right: 10px;
}

.mysToggle {
    width: 3rem;
    display: flex;
    align-items: center;
}

.mysToggleArea {
    height: 1.5rem;
    width: 3rem;
    /*background-color: #ccccff;*/
}


.selectSwitch {
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 1.5rem;
}

.selectSwitch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.selectSlider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.selectSlider:before {
    position: absolute;
    content: "";
    height: 1.3rem;
    width: 1.3rem;
    left: 0.1rem;
    bottom: 0.1rem;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
}

input:checked+.selectSlider {
    background-color: #1e88e5;
}

input:focus+.selectSlider {
    box-shadow: 0 0 1px  #1e88e5;
}

.selectFilled input:checked+.selectSlider {
    background-color: #1e88e5;
}

.selectFilled input:focus+.selectSlider {
    box-shadow: 0 0 1px #1e88e5;
}

input:checked+.selectSlider:before {
    -webkit-transform: translateX(1.4rem);
    -ms-transform: translateX(1.4rem);
    transform: translateX(1.4rem);
}

/* Rounded sliders */
.selectSlider.selectRound {
    border-radius: 34px;
}

.selectSlider.selectRound:before {
    border-radius: 50%;
}

.courseSelect {
    position: relative;
    height: 100%;
    width: 100%;
    margin: auto;
    overflow-x: auto;
    max-width: 450px;
    /*background-color: #dadafe;*/
    /*margin-left: 10%;*/
    /*padding-top: 1rem;
padding-bottom: 1rem;*/
}

#courseSelectModal {
    position: fixed;
    z-index: 99;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}

.courseSelectCtn {
    position: absolute;
    display: flex;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff88;
    /* align-content: center; */
    justify-content: center;
    box-sizing: border-box;
}

.courseSelectHead {
    width: 100%;
    position: absolute;
    height: calc(8rem * var(--factor));
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    font-size: larger;
    padding-bottom: 50px;
}

.courseSelectArea {
    position: absolute;
    width: 100%;
    background-color: #dedada;
    border-radius: 20px;
    max-width: 500px;
    height: 100%;
    box-sizing: border-box;
    z-index: 100;
}

.selectListArea {
    position: absolute;
    top: calc(8rem* var(--factor));
    width: 100%;
    height: calc(60% - calc(8rem * var(--factor)));
    /*padding: 1rem 0rem 1rem 0rem;*/
    box-sizing: border-box;
}

.clboxClose {
    font-weight: bolder;
    display: flex;
    position: absolute;
    background-color: #ff000088;
    border-radius: 20px;
    padding: 15px;
    right: 0;
    top: 0;
    cursor: pointer;
    z-index: 10;
    width: calc(2.5rem* var(--factor));
    height: calc(2.5rem* var(--factor));
    align-items: center;
    justify-content: center;
    color: #ffffff;
    box-sizing: border-box;
}

.courseSelectBg {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    background-color: #ffffff88;
}

.selectListOk {
    display: flex;
    position: absolute;
    top: calc(70% - 3rem* var(--factor));
    width: 100%;
    /* height: calc(80% - calc(8rem* var(--factor))); */
    padding: 1rem 0rem 1rem 0rem;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.selectListOkBtn {
    background-color: #818181;
    color: #000000;
    padding: 20px;
    border-radius: 10px;
    font-weight: 700;
    font-style: bold;
    font-size: 16px;
}

.selectListOkBtnBlue {
    background-color: #1e88e5;
    color: #FFFFFF;
}

.selectListOkBtnBlue:hover {
    background-color: #1565c0;
    color: #FFFFFF;
    cursor: pointer;
}

.botaocurso {
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: center;
}

.botaocurso-exclamation {
    background-color: #dedada;
}

.botaocurso-check {
    background-color: #1e88e5;
    color: #ffffff;
}

.iconBcurso {
    margin-right: 10px;
}

.botaocurso-exclamation i {
    color: #ff7800;
}

.botaocurso-check i {
    color: #ffffff;
}
